config SND_SOC_ADI
	tristate "Audio support for Analog Devices reference designs"
	depends on MICROBLAZE || ARCH_ZYNQ || COMPILE_TEST
	help
	  Audio support for various reference designs by Analog Devices.

config SND_SOC_ADI_AXI_I2S
	tristate "AXI-I2S support"
	depends on SND_SOC_ADI
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  ASoC driver for the Analog Devices AXI-I2S softcore peripheral.

config SND_SOC_ADI_AXI_SPDIF
	tristate "AXI-SPDIF support"
	depends on SND_SOC_ADI
	select SND_SOC_GENERIC_DMAENGINE_PCM
	select REGMAP_MMIO
	help
	  ASoC driver for the Analog Devices AXI-SPDIF softcore peripheral.

config SND_SOC_ADV7511_HDMI
	tristate "ADV7511 HDMI transmitter sound support"
	depends on SND_SOC_ADI
	select SND_SOC_ADI_AXI_SPDIF

config SND_ZYBO_SOC_PCM1794A
	tristate "SoC Audio support for PCM1794A on ZYBO"
	depends on SND_SOC_ADI
	select SND_SOC_PCM1794A
	select SND_SOC_ADI_AXI_I2S
	help
	  Say Y or M if you want to add support for SoC audio on Zynq
	  ZYBO board using AXI-I2S and PCM1794A.

config SND_ZYBO_SOC_AT1201
	tristate "SoC Audio support for AT1201 on ZYBO"
	depends on SND_SOC_ADI
	select SND_SOC_AT1201
	select SND_SOC_ADI_AXI_I2S
	help
	  Say Y or M if you want to add support for SoC audio on Zynq
	  ZYBO board using AXI-I2S and AT1201.
		 
config SND_SOC_ZED_ADAU1761
	tristate "ZED board sound support"
	depends on SND_SOC_ADI
	depends on I2C
	select SND_SOC_ADI_AXI_I2S
	select SND_SOC_ADAU1761_I2C
