#
# Gain Amplifiers, etc.
#
# When adding new entries keep the list in alphabetical order

menu "Amplifiers"

config AD8366
	tristate "Analog Devices AD8366 VGA"
	depends on SPI
	select BITREVERSE
	help
	  Say yes here to build support for Analog Devices AD8366
	  SPI Dual-Digital Variable Gain Amplifier (VGA).

	  To compile this driver as a module, choose M here: the
	  module will be called ad8366.

config TQP4M9072
	tristate "Triquint TQP4M9072 DSA"
	depends on SPI
	help
	  Say yes here to build support for Triquint TQP4M9072
	  SPI Digital Attenuator

	  To compile this driver as a module, choose M here: the
	  module will be called tqp4m9072.

endmenu




